{% load static %}
<!DOCTYPE html>
<html lang="">

<head>
  <title>MODO</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="{% static 'screening/index_static/layout/styles/layout.css' %}" rel="stylesheet" type="text/css" media="all">
</head>

<body id="top">
  <div id="app">
    <div class="wrapper row0">
      <div id="topbar" class="hoc clear">
        <div class="fl_left">
          <ul class="nospace">
            <li><i class="fas fa-phone rgtspace-5"></i> +237 698868709</li>
            <li><i class="far fa-envelope rgtspace-5"></i> modo@gmail.com</li>
          </ul>
        </div>
        <div class="fl_right">
          <ul class="nospace">
            <li><a href="index.html"><i class="fas fa-home"></i></a></li>
            <li><a href="#" title="Help Centre"><i class="far fa-life-ring"></i></a></li>
            <li><a href="#" title="Login"><i class="fas fa-sign-in-alt"></i></a></li>
            <li><a href="#" title="Sign Up"><i class="fas fa-edit"></i></a></li>
            <li id="searchform">
              <div>
                <form action="#" method="post">
                  <fieldset>
                    <legend>Quick Search:</legend>
                    <input type="text" placeholder="Enter search term&hellip;">
                    <button type="submit"><i class="fas fa-search"></i></button>
                  </fieldset>
                </form>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="wrapper row1">
      <header id="header" class="hoc clear">
        <div id="logo" class="fl_left">
          <h1><a href="index.html">MODO</a></h1>
        </div>
        <nav id="mainav" class="fl_right">
          <ul class="clear">
            </router-link to="/">
            <li class="active"><a href="{% url 'screening:home' %}">Accueil</a></li>
            </router-link>
            <li><a href="{% url 'statistiques:index' %}">Statistiques</a></li>
            <li><a href="#">News et Actualite</a></li>
            <li><a href="#">Forum</a></li>
            <li><a href="#">Contacts</a></li>
          </ul>
        </nav>
      </header>
    </div>
    <div class="wrapper bgded overlay gradient" style="background-image:url('images/demo/backgrounds/01.jpg');">
      <div id="pageintro" class="hoc clear">
        <article>
          <p>Aidez nous a combattre le Covid-19</p>
          <h3 class="heading">Laisser nous vous accompagner avec cette solution numerique</h3>
          <p>Médécins, chercheurs, Malades, usagers.</p>
          <footer>
            <ul class="nospace inline pushright">
              <li><a class="btn" href="#">Documentation</a></li>
              <li><a class="btn inverse" href="#">Partenaire</a></li>
            </ul>
          </footer>
        </article>
      </div>
    </div>
    <div class="wrapper row2">
      <section class="hoc container clear">
        <div class="sectiontitle">
          <h6 class="heading">Connectez vous et soyez plus efficace</h6>
          <p>Accedez a votre interface de connexion</p>
        </div>
        <ul class="nospace group prices">
          <li class="one_third">
            <a href="{% url 'screening:login'%}">
               <article>
                <i class="fas fa-heart red"></i>
                <h6 class="heading">Médécin</h6>
                <p>Accedez a cet interface pour vous connecter en tant que medecin. Vous pourriez alors
                  avoir acces aux informations des patients
                </p>
              </article>  
            </a>
          </li>
          <li class="one_third">
            <a href="{% url 'screening:login'%}">
              <article>
                <i class="fas fa-sun green"></i>
                <h6 class="heading">Dépisteur</h6>
                <p>Connectez vous en tant que depisteur et accedez a l'interface d'examen des usagers</p>
              </article>
            </a>
          </li>

          <li class="one_third">
            <a href="#">
              <article>
                <i class="fas fa-users blue"></i>
                <h6 class="heading">Usagers</h6>
                <p>
                  Effectuez votre test de covid-19 maintenant
                  </br></br></br>
                </p>
              </article>
            </a>
          </li>
        </ul>
      </section>
    </div>
    <div class="wrapper coloured">
      <article class="hoc cta clear">
        <h6 class="three_quarter first">Des statistiques detailles sur l'evolution du covid-19</h6>
        <footer class="one_quarter"><a class="btn" href="{% url 'statistiques:index'%}">stat-nat-covid</a></footer>
      </article>
    </div>
    <div class="wrapper row3">
      <main class="hoc container clear">
        <section id="introblocks">
          <div class="sectiontitle">
            <h6 class="heading">Faire Confiance a MODO</h6>
            <p>MODO, application de surveillance epidemiologique</p>
          </div>
          <ul class="nospace group">
            <li class="one_third first">
              <article><a href="#"><i class="fas fa-moon green"></i></a>
                <h6 class="heading">La Qualité</h6>
                <p>Modo est utilisé et recommendé par la pluard des médécins nationaux [&hellip;]
                  </br>
                </p>
                <footer><a class="btn" href="#">Voir Plus</a></footer>
              </article>
            </li>
            <li class="one_third">
              <article><a href="#"><i class="fas fa-seedling red"></i></a>
                <h6 class="heading">L'assurance</h6>
                <p>Une fois depister par platforme,les donnees sont traitee et renvoyer sous 48h. [&hellip;]
                </p>
                <footer><a class="btn" href="#">Voir Plus</a></footer>
              </article>
            </li>
            <li class="one_third">
              <article><a href="#"><i class="fas fa-ship blue"></i></a>
                <h6 class="heading">L'accompagnement</h6>
                <p>Modo vous notifiera au temps de fois que necessaire sur les informations concernant
                 votre situation. [&hellip;]</p>
                <footer><a class="btn" href="#">Voir Plus</a></footer>
              </article>
            </li>
          </ul>
        </section>
        <div class="clear"></div>
      </main>
    </div>
    <div class="wrapper row5">
      <div id="copyright" class="hoc clear">
        <p class="fl_left">Copyright &copy; 2020 - All Rights Reserved - <a href="#">Domain Name</a></p>
        <p class="fl_right">App coded By <a target="_blank" href="#"
            title="MoDo APP">TP 4077 - Jiomekong</a></p>
      </div>
    </div>
    <router-view></router-view>
  </div>
  <a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
  <!-- JAVASCRIPTS -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script src ="https://unpkg.com/vue-router/dist/vue-router.js"></script>
  <script src ="{% static 'screening/index_static/layout/scripts/vue.js' %}"></script>
  <script src="{% static 'screening/index_static/layout/scripts/jquery.min.js' %}"></script>
  <script src="{% static 'screening/index_static/layout/scripts/jquery.backtotop.js' %}"></script>
  <script src="{% static 'screening/index_static/layout/scripts/jquery.mobilemenu.js' %}"></script>
</body>

</html>