{% extends './base.html' %}
{% load static %}

{% block pageContentRow %}

      <h3 style="color: red"> Online Tests Results </h3>

        <table class="table  table-responsive">
            <thead class="thead-default">
            <tr>
                <th> citizen</th>
                <th> percentage</th>
                <th> comments</th>
                <th> result</th>
                <th>state</th>
                <th>voice</th>
                <th> symptoms_detected</th>
            </tr></thead>
            <tbody>

            <tr>

            {% for object in  onlinetest_list %}

                <td> {{ object.citizen_who_has_been_tested }}  </td>
                <td> {{  object.percentage }}%</td>
                <td> {{ object.comments }}</td>
                <td> {{  object.result }}</td>
                <td> {{ object.state }}</td>

                <td>
                   {% if object.voice %}
                     <audio controls><source src="/media/{{ object.voice }}"></audio>
                   {% else if %}
                       <audio controls><source src="#"></audio>
                   {% endif %}

                </td>
                <td>{{ object.symptoms_detected.get }}</td>

            {% endfor %}

            </tr>
            </tbody>
        </table>


{% endblock %}
